# Auto detect text files and perform LF normalization
* text=auto
Assets/Scenes/01_Iri[[:space:]]Station/01_Iri[[:space:]]Station[[:space:]]Baking[[:space:]]Set.CellSupportData.bytes filter=lfs diff=lfs merge=lfs -text
