# Auto detect text files and perform LF normalization
* text=auto
Assets/Scenes/01_Iri filter=lfs diff=lfs merge=lfs -text
Station/01_Iri filter=lfs diff=lfs merge=lfs -text
Station filter=lfs diff=lfs merge=lfs -text
Baking filter=lfs diff=lfs merge=lfs -text
Set.CellSupportData.bytes filter=lfs diff=lfs merge=lfs -text
